<!DOCTYPE html>
<html>
<head>
    <title>Editar Material</title>
</head>
<body>
    <h1>Editar Material</h1>
    <form method="POST" action="/materiales/editar/{{ material.id }}">
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" value="{{ material.nombre_material }}" required><br>
        <label for="descripcion">Descripción:</label>
        <textarea id="descripcion" name="descripcion">{{ material.descripcion }}</textarea><br>
        <label for="precio">Precio:</label>
        <input type="number" id="precio" name="precio" step="0.01" value="{{ material.precio }}" required><br>
        <label for="cantidad_stock">Cantidad en Stock:</label>
        <input type="number" id="cantidad_stock" name="cantidad_stock" value="{{ material.cantidad_stock }}" required><br>
        <label for="unidad_medida">Unidad de Medida:</label>
        <input type="text" id="unidad_medida" name="unidad_medida" value="{{ material.unidad_medida }}" required><br>
        <label for="color">Color:</label>
        <input type="text" id="color" name="color" value="{{ material.color }}" required><br>
        <input type="submit" value="Guardar Cambios">
    </form>
    <a href="listar_materiales.html">Volver a la Lista de Materiales</a>
</body>
</html>
