<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/footer.css">

    <title>Tienda Tapiplas</title>


    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="assets/css/font-awesome.css">

    <link rel="stylesheet" href="assets/css/templatemo-hexashop.css">

    <link rel="stylesheet" href="assets/css/owl-carousel.css">

    <link rel="stylesheet" href="assets/css/lightbox.css">
<!--

TemplateMo 571 Hexashop

https://templatemo.com/tm-571-hexashop

-->
    </head>
    
    <body>
    
    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>  
    <!-- ***** Preloader End ***** -->
    
    
    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="index.html" class="logo">
                            <p><img src="assets/images/logoE.png"> Tienda Tapiplas</p>
                        </a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li class="scroll-to-section"><a href="vistas/login.php">Iniciar sesion</a></li>
                            <li class="scroll-to-section"><a href="vistas/Registrarse.html">Registrarse</a></li>
                            <li class="scroll-to-section"><a href="vistas/login.php">Realizar cotizacion</a></li>
                            <li class="submenu">
                                <a href="javascript:;">Contactanos</a>
                                <ul>
                                    <li><a href="https://wa.me/c/573102381123" class="submenu">
                                        <p><img src="assets/images/logoW.png"> WhatsaApp </p>
                                    </a></li>
                                    <li><a href="https://www.facebook.com/profile.php?id=100064243835236&mibextid=ZbWKwL" class="submenu">
                                        <p><img src="assets/images/logoF.png"> Facebook </p>
                                    </a></li>
                                </ul>
                            </li>
                        </ul>        
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->

    <!-- ***** Main Banner Area Start ***** -->
    <div class="main-banner" id="top">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6">
                    <div class="left-content">
                        <div class="thumb">
                            <div class="inner-content">
                                <h4>Enamorate de nuestro trabajo</h4>
                                <span>Te garantizamos una sonrisa al ver tu producto terminado.</span>
                                <div class="main-border-button">
                                    <a href="vistas/login.php">Cotizar</a>
                                </div>
                            </div> 
                            <img src="assets/images/silla1.jpg" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="right-content">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="right-first-image">
                                    <div class="thumb">
                                        <div class="inner-content">
                                        </div>
                                        <div class="hover-content">
                                            <div class="inner">
                                                <h4>Adquierelo</h4>
                                                <p>Este es uno de nuestros trabajos, si te gusta dale la boton que aparece aqui abajo para cotizar.</p>
                                                <div class="main-border-button">
                                                    <a href="vistas/login.php">Cotizar</a>
                                                </div>
                                            </div>
                                        </div>
                                        <img src="assets/images/silla2.png">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="right-first-image">
                                    <div class="thumb">
                                        <div class="inner-content">
                                        </div>
                                        <div class="hover-content">
                                            <div class="inner">
                                                <h4>Animate</h4>
                                                <p>Este es uno de nuestros trabajos en vehiculos en este caso un carro, si te gusta dale la boton que aparece aqui abajo para cotizar.</p>
                                                <div class="main-border-button">
                                                    <a href="vistas/login.php">Cotizar</a>
                                                </div>
                                            </div>
                                        </div>
                                        <img src="assets/images/silla3.jpg">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="right-first-image">
                                    <div class="thumb">
                                        <div class="inner-content">
                                        </div>
                                        <div class="hover-content">
                                            <div class="inner">
                                                <h4>Renuevalo</h4>
                                                <p>Este es uno de nuestros trabajos en vehiculos en este caso una moto, si te gusta dale la boton que aparece aqui abajo para cotizar.</p>
                                                <div class="main-border-button">
                                                    <a href="vistas/login.php">Cotizar</a>
                                                </div>
                                            </div>
                                        </div>
                                        <img src="assets/images/silla4.jpg">
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** Main Banner Area End ***** -->

    <!-- ***** Men Area Starts ***** -->
    <section class="section" id="men">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="section-heading">
                        <h2>Nuestros productos</h2>
                        <span>Aqui tenemos algunos tipos de cuerina, terciopelo, cuero, etc. Con los que tapizamos tus productos</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="men-item-carousel">
                        <div class="owl-men-item owl-carousel">
                            <div class="item">
                                <div class="thumb">
                                    <div class="hover-content">
                                        <ul>
                                            <li><a href="vistaCuerina.html"><i class="fa fa-eye"></i></a></li>
                                            <li><a href="vistaCuerina.html"><i class="fa fa-shopping-cart"></i></a></li>
                                        </ul>
                                    </div>
                                    <img src="assets/images/cuerina.jpg" alt="">
                                </div>
                                <div class="down-content">
                                    <h4>Cuerina</h4>
                                    <span>$69.000</span>
                                    <ul class="stars">
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>

                                    </ul>
                                </div>
                            </div>
                            <div class="item">
                                <div class="thumb">
                                    <div class="hover-content">
                                        <ul>
                                            <li><a href="vistaAlgodon.htm"><i class="fa fa-eye"></i></a></li>
                                            <li><a href="vistaAlgodon.htm"><i class="fa fa-shopping-cart"></i></a></li>
                                        </ul>
                                    </div>
                                    <img src="assets/images/algodon.jpg" alt="">
                                </div>
                                <div class="down-content">
                                    <h4>Algodon Puro</h4>
                                    <span>$26.000</span>
                                    <ul class="stars">
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="item">
                                <div class="thumb">
                                    <div class="hover-content">
                                        <ul>
                                            <li><a href="vistaSeda.html"><i class="fa fa-eye"></i></a></li>
                                            <li><a href="vistaSeda.html"><i class="fa fa-shopping-cart"></i></a></li>
                                        </ul>
                                    </div>
                                    <img src="assets/images/imagen Seda.jpg" alt="">
                                </div>
                                <div class="down-content">
                                    <h4>Seda</h4>
                                    <span>$667.717</span>
                                    <ul class="stars">
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="item">
                                <div class="thumb">
                                    <div class="hover-content">
                                        <ul>
                                            <li><a href="vistaJacquard.html"><i class="fa fa-eye"></i></a></li>
                                            <li><a href="vistaJacquard.html"><i class="fa fa-shopping-cart"></i></a></li>
                                        </ul>
                                    </div>
                                    <img src="assets/images/Jacquard.jpg" alt="">
                                </div>
                                <div class="down-content">
                                    <h4>Jacquard</h4>
                                    <span>$33.900</span>
                                    <ul class="stars">
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Men Area Ends ***** -->

    <!-- ***** Women Area Starts ***** -->
    
    <!-- ***** Kids Area Ends ***** -->

    <!-- ***** Explore Area Starts ***** -->
    
    <!-- ***** Subscribe Area Ends ***** -->
    
    <!-- ***** Footer Start ***** -->
    <footer class="site-footer">
        <div class="container">
          <div class="row">
            <div class="col-md-8 col-sm-6 col-xs-12">
              <p class="copyright-text">Copyright &copy; 2023 Empresa Tapiplas.
              </p>
            </div>
  
            <div class="col-md-4 col-sm-6 col-xs-12">
              <ul class="social-icons">
                <li><a class="facebook" href="https://www.facebook.com/profile.php?id=100064243835236&mibextid=ZbWKwL"><i class="fa fa-facebook"></i></a></li>
                <li><a class="whatsapp" href="https://wa.me/c/573102381123"><i class="fa fa-whatsapp"></i></a></li>   
              </ul>
            </div>
          </div>
        </div>
  </footer>
    

    <!-- jQuery -->
    <script src="assets/js/jquery-2.1.0.min.js"></script>

    <!-- Bootstrap -->
    <script src="assets/js/popper.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>

    <!-- Plugins -->
    <script src="assets/js/owl-carousel.js"></script>
    <script src="assets/js/accordions.js"></script>
    <script src="assets/js/datepicker.js"></script>
    <script src="assets/js/scrollreveal.min.js"></script>
    <script src="assets/js/waypoints.min.js"></script>
    <script src="assets/js/jquery.counterup.min.js"></script>
    <script src="assets/js/imgfix.min.js"></script> 
    <script src="assets/js/slick.js"></script> 
    <script src="assets/js/lightbox.js"></script> 
    <script src="assets/js/isotope.js"></script> 
    

  </body>
</html>